* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, Microsoft JhengHei;
    color: #4a4a4a;
    background-color: rgb(80, 80, 80);
}

.container {
    background-color: #fcfbfa;
}

#topTile ul li{
    font-size: 16px;
    font-style: italic;
    font-weight: bolder;
}
.blog{
    background-color: #eddbe8;
    font-style: italic;
}
.blog:hover{
    background-color: #ffb6e3;
}
.jumbotron h1,p{
    font-style: italic;
}
th, td {
    text-align: center;
    word-wrap: break-word;
}

td {
    font-size: 12px;
}

#tab tr:hover {
    background-color: rgba(217, 217, 217, 0.5);
}
.blogLink{
    cursor:pointer
}